node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
README.md
.gitignore
.vscode
OldCode
package-lock.json

docker/mysql/master/other/
docker/mysql/slave/other/
docker/redis/data/
docker/mongo/data/