node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
README.md
.gitignore
.vscode
OldCode
package-lock.json
static

docker/mysql/data/
docker/portainer/data/
docker/portainer/run/
docker/redis/data/
docker/mongo/data/

modules/auth/node_modules/
modules/storage/node_modules/
modules/tasks/node_modules/