# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git

node_modules/

static

OldCode

package-lock.json

docker/mysql/data/
docker/portainer/data/
docker/portainer/run/
docker/redis/data/
docker/mongo/data/