# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.vscode/

node_modules/

OldCode

package-lock.json

docker/mysql/master/other/
docker/mysql/slave/other/